@font-face { font-family: Montserrat; src: url('fonts/Montserrat-Regular.otf'); }
@font-face { font-family: Montserrat; src: url('fonts/Montserrat-Medium.otf'); font-weight: 500; }
@font-face { font-family: Montserrat; src: url('fonts/Montserrat-SemiBold.otf'); font-weight: 600; }
@font-face { font-family: Montserrat; src: url('fonts/Montserrat-Bold.otf'); font-weight: bold; }
@font-face { font-family: Montserrat; src: url('fonts/Montserrat-ExtraBold.otf'); font-weight: 800; }

html,
body {
  background-color: var(--page-background-color);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  --page-background-color: #F6F5F6;
  --spacing: 5px;
  --border-color: #E8E8E8;
  --border-radius: 10px;
  --theme-color: #FE3C72;
  --text-color: #424242;
  --text-light-color: #B1B1B1;
  --success-color: #47E4BB;
  --danger-color: #E8647C;
  --screen-width: 350px;
  --boy-color: #a8d8ff;
  --girl-color: #ffa8c0;
  --neutral-color: #ffd8a8;
  --nav-height: 160px;
  --nav-mobile-height: 60px;
}

.total {
  font-size: 1.5rem;
  letter-spacing: initial;
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: var(--border-radius);
  margin-bottom: 40px;
}

.disclaimer {
  padding-top: 50px;
  font-size: 0.9rem;
}

.full-width {
  width: 100%;
}

*:focus {
  outline: none !important;
}

.color-girl { color: var(--girl-color) !important; }
.color-boy { color: var(--boy-color) !important; }
.color-neutral { color: var(--neutral-color) !important; }
.color-success { color: var(--success-color) !important; }
.color-danger { color: var(--danger-color) !important; }
.color-text-light { color: var(--text-light-color) !important; }

.text-sm { font-size: 0.8rem; }
.text-xs { font-size: 0.6rem; }

[v-cloak] { display: none; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.items-center { align-items: center; }
.text-center { text-align: center; margin: 0 auto; }
.text-left { text-align: left; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: calc(1 * var(--spacing)); }
.mb-2 { margin-bottom: calc(2 * var(--spacing)); }
.mb-3 { margin-bottom: calc(3 * var(--spacing)); }
.mb-4 { margin-bottom: calc(4 * var(--spacing)); }
.mb-5 { margin-bottom: calc(5 * var(--spacing)); }
.mb-6 { margin-bottom: calc(6 * var(--spacing)); }
.mb-7 { margin-bottom: calc(7 * var(--spacing)); }
.mb-8 { margin-bottom: calc(8 * var(--spacing)); }

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: calc(1 * var(--spacing)); }
.mt-2 { margin-top: calc(2 * var(--spacing)); }
.mt-3 { margin-top: calc(3 * var(--spacing)); }
.mt-4 { margin-top: calc(4 * var(--spacing)); }
.mt-5 { margin-top: calc(5 * var(--spacing)); }
.mt-6 { margin-top: calc(6 * var(--spacing)); }
.mt-7 { margin-top: calc(7 * var(--spacing)); }
.mt-8 { margin-top: calc(8 * var(--spacing)); }

.mr-0 { margin-right: 0; }
.mr-1 { margin-right: calc(1 * var(--spacing)); }
.mr-2 { margin-right: calc(2 * var(--spacing)); }
.mr-3 { margin-right: calc(3 * var(--spacing)); }
.mr-4 { margin-right: calc(4 * var(--spacing)); }
.mr-5 { margin-right: calc(5 * var(--spacing)); }
.mr-6 { margin-right: calc(6 * var(--spacing)); }
.mr-7 { margin-right: calc(7 * var(--spacing)); }
.mr-8 { margin-right: calc(8 * var(--spacing)); }

.ml-0 { margin-left: 0; }
.ml-1 { margin-left: calc(1 * var(--spacing)); }
.ml-2 { margin-left: calc(2 * var(--spacing)); }
.ml-3 { margin-left: calc(3 * var(--spacing)); }
.ml-4 { margin-left: calc(4 * var(--spacing)); }
.ml-5 { margin-left: calc(5 * var(--spacing)); }
.ml-6 { margin-left: calc(6 * var(--spacing)); }
.ml-7 { margin-left: calc(7 * var(--spacing)); }
.ml-8 { margin-left: calc(8 * var(--spacing)); }

.mx-auto { margin-left: auto; margin-right: auto; }
.mx-0 { margin-left: 0; margin-right: 0; }
.mx-1 { margin-left: calc(1 * var(--spacing)); margin-right: calc(1 * var(--spacing)); }
.mx-2 { margin-left: calc(2 * var(--spacing)); margin-right: calc(2 * var(--spacing)); }
.mx-3 { margin-left: calc(3 * var(--spacing)); margin-right: calc(3 * var(--spacing)); }
.mx-4 { margin-left: calc(4 * var(--spacing)); margin-right: calc(4 * var(--spacing)); }
.mx-5 { margin-left: calc(5 * var(--spacing)); margin-right: calc(5 * var(--spacing)); }
.mx-6 { margin-left: calc(6 * var(--spacing)); margin-right: calc(6 * var(--spacing)); }
.mx-7 { margin-left: calc(7 * var(--spacing)); margin-right: calc(7 * var(--spacing)); }
.mx-8 { margin-left: calc(8 * var(--spacing)); margin-right: calc(8 * var(--spacing)); }

.my-auto { margin-top: auto; margin-bottom: auto; }
.my-0 { margin-top: 0; margin-bottom: 0; }
.my-1 { margin-top: calc(1 * var(--spacing)); margin-bottom: calc(1 * var(--spacing)); }
.my-2 { margin-top: calc(2 * var(--spacing)); margin-bottom: calc(2 * var(--spacing)); }
.my-3 { margin-top: calc(3 * var(--spacing)); margin-bottom: calc(3 * var(--spacing)); }
.my-4 { margin-top: calc(4 * var(--spacing)); margin-bottom: calc(4 * var(--spacing)); }
.my-5 { margin-top: calc(5 * var(--spacing)); margin-bottom: calc(5 * var(--spacing)); }
.my-6 { margin-top: calc(6 * var(--spacing)); margin-bottom: calc(6 * var(--spacing)); }
.my-7 { margin-top: calc(7 * var(--spacing)); margin-bottom: calc(7 * var(--spacing)); }
.my-8 { margin-top: calc(8 * var(--spacing)); margin-bottom: calc(8 * var(--spacing)); }

.px-0 { padding-left: 0; padding-right: 0; }
.py-0 { padding-top: 0; padding-bottom: 0; }
.p-0 { padding: 0; }
.m-0 { margin: 0; }

.d-flex { display: flex; }
.pointer { cursor: pointer; }

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  color: var(--theme-color);
  text-align: center;
  letter-spacing: -3px;
}

hr {
  border: 0;
  border-top: 2px dashed #E8E8E8;
  margin: 30px 0;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-size: 1rem;
}

.nav {
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  border-spacing: 0;
}
table thead tr th {
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 10px;
}
table tr td {
  padding-top: 10px;
}

#app, .screen {
  min-height: calc(100vh - var(--nav-height) - 50px);
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--screen-width);
  margin: 0 auto;
  padding: 0px 15px;
}
.game-screen {
  max-width: 100%;
  justify-content: space-between;
  height: calc(100vh - var(--nav-height) - 50px);
  min-height: auto;
}
.screen-center {
  align-items: center;
  justify-content: center;
}

.btn {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 12px 40px;
  border-radius: 20px;
  border: 2px solid var(--theme-color);
}
.btn-primary {
  color: white;
  background-color: var(--theme-color);
}
.btn-default {
  color: var(--text-color);
  background-color: white;
}
.btn-sm {
  padding: 6px 20px;
}
.btn-xs {
  padding: 4px 8px;
  line-height: 21px;
}

.form-group {

}
.form-group label {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-bottom: 5px;
  display: block;
  color: var(--text-light-color);
}
.form-group-full {
  width: 100%;
}
.form-control {
  border: 1px solid var(--border-color);
  box-shadow: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 4px 10px;
  background-color: white;
}
.form-control i {
  color: var(--theme-color);
}
.form-control input, select {
  border: 0;
  background-color: transparent;
  flex: 1;
  color: var(--text-color);
  font-size: 1rem;
}
.form-control select {
  width: 100%;
  text-overflow: ellipsis;
}

.progress {
  text-align: center;
  color: var(--text-light-color);
}
.progress .bar {
  background-color: var(--border-color);
  width: var(--screen-width);
  height: 4px;
  border-radius: 4px;
}
.progress .bar div {
  border-radius: 4px;
  height: inherit;
  background-color: var(--success-color);
}

.play-header {
  border: 2px solid var(--theme-color);
  border-radius: var(--border-radius);
  padding: 15px;
  margin-bottom: 10px;
  width: var(--screen-width);
}
.play-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.play-mobile {
  display: none;
  font-size: 2rem;
  margin-top: 20px;
  width: inherit;
  border: 2px solid var(--border-color);
  background-color: white;
  border-radius: var(--border-radius);
}
.play-mobile .play-down, .play-mobile .play-up {
  flex: 1;
  cursor: pointer;
  text-align: center;
  color: var(--text-light-color);
  padding: 15px 0;
}
.play {
  flex: 1;
  cursor: pointer;
  color: var(--border-color);
  padding: 50px;
  text-align: center;
}
.play .text {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: var(--text-light-color);
}
.play .key {
  font-size: 0.7rem;
  color: var(--text-light-color);
}
.play i {
  font-size: 5rem;
  margin-bottom: 10px;
}
.play-up:hover, .play-up.active {
  color: var(--success-color);
}
.play-down:hover, .play-down.active {
  color: var(--danger-color);
}

.card {
  background-color: white;
  height: 400px;
  width: 250px;
  border-radius: var(--border-radius);
  border: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
.card .emoji {
  font-size: 5rem;
  margin-bottom: 40px;
}
.card .first-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.card .last-name {
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--text-color);
}

.dropdown {
  position: relative;
}
.dropdown button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
}
.dropdown a {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  opacity: 0.5;
}
.dropdown a:hover {
  opacity: 1;
}
.dropdown .dropdown-menu {
  display: none;
  padding: 5px 0;
  right: 0;
  position: absolute;
  white-space: nowrap;
  background-color: var(--text-color);
  border-radius: 5px;
  color: white;
}
.dropdown.active .dropdown-menu {
  display: block;
}

.selector {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: var(--border-radius);
}

.selector-item {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-light-color);
  font-size: 2rem;
}
.selector-item + .selector-item {
  border-left: 2px solid var(--page-background-color);
}

.save-game {
  width: 100%;
  background-color: white;
  border: 2px solid var(--border-color);
  padding: 10px;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  margin-bottom: 10px;
  cursor: pointer;
}
.save-game a {
  cursor: pointer;
}
.save-game .text {
  font-weight: bold;
}
.save-game .set {
  color: var(--text-light-color);
}
.save-game .emoji {
  font-size: 1.2rem;
}
.save-game i {
  color: var(--theme-color);
}
.save-game:hover, .save-game.active {
  border-color: var(--theme-color);
}

.matches div {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid var(--border-color);
}

.tabs {
  display: flex;
  background-color: white;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.tab {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1;
  height: 50px;
  border-bottom: 2px solid var(--border-color);
}
.tab.active {
  border-bottom-color: var(--theme-color);
}

.or {
  color: var(--text-light-color);
  border-bottom: 2px dashed var(--text-light-color);
  position: relative;
  margin: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.or span {
  display: inline-block;
  position: absolute;
  top: -8px;
  background-color: var(--page-background-color);
  width: 50px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .nav {
    height: var(--nav-mobile-height);
    background-color: white;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 20px;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  #app, .screen {
    min-height: calc(100vh - var(--nav-mobile-height) - 25px);
    max-width: 100%;
  }
  .play-header {
    padding: 10px;
    max-width: 100%;
  }
  .dropdown button {
    font-size: 1rem;
  }
  .play-area {
    flex-direction: column;
    width: 75vw;
  }
  .play {
    display: none;
  }
  .play-mobile {
    display: flex;
  }
  .card {
    height: auto;
  }
  .card .emoji {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  .progress {
    padding-bottom: 20px;
  }
}
